body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header, footer {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
    position: absolute;
    top: -1px;
}

header:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
    position: absolute;
    bottom: -1px;
}